@model IEnumerable<Cine.AppWeb.CineWS.Funcion>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/tablas.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Crear")
    </p>

    <div class="datagrid">
        <table class="table">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.horario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.idFuncion)
                    </th>
                    <th>
                        pelicula
                    </th>
                    <th>
                        sala
                    </th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.horario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idFuncion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pelicula.titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sala.descripcion)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Actualizar", new { id=item.idFuncion }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
           

        </table>
    </div>
    
</body>
</html>
