@model IEnumerable<Cine.AppWeb.CineWS.Colaborador>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/tablas.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Crear")
    </p>
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.apellidoMaterno)
                    </th>
                    <th>
                        Cargo
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.apellidoPaterno)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dni)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fechaNacimiento)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.nombres)
                    </th>
                    
                  
                    <th>
                        @Html.DisplayNameFor(model => model.telefono)
                    </th>
                    <th></th>
                </tr>
            </thead>
           
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellidoMaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.apellidoPaterno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.fechaNacimiento)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.nombres)
                        </td>
                        
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
            

        </table>
    </div>
    
</body>
</html>
