@model IEnumerable<Cine.AppWeb.CineWS.Sala>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/tablas.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Crear")
    </p>

    <div class="datagrid">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.capacidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.idSala)
                    </th>
                    <th>
                        LOCAL
                    </th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.capacidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idSala)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Local.nombre)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
           

        </table>
    </div>
    
</body>
</html>
