@model IEnumerable<Cine.AppWeb.CineWS.Local>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/tablas.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Crear")
    </p>
    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.capacidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ciudad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.idLocal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.provincia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.telefono)
                    </th>
                    <th>
                        Colaborador
                    </th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.capacidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ciudad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idLocal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.provincia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colaborador.apellidoPaterno)
                        </td>
                       
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</body>
</html>
